<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
</head>
<body>
	@RenderBody()
</body>
</html>
